<!DOCTYPE html>
    <head>
        
        <title><%=(locals.title) ? title :''%></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/a9db96059e.js" crossorigin="anonymous"></script>
        <link href="/../css/index.css" rel="stylesheet">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css" >
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    </head>
    <body>
        <header id="topBar">

            <div class="primaryMenu">
                <div class="container">
                    <div class="primaryWrapper">
                        <div class="logo">
                            <h1>Ashikur</h1>
                        </div>
                        <div class="menuWrapper">
                            <div class="menu">
                                <ul class="mainMenuItem">
                                    <li><a href="#">Home<i class="fas fa-angle-down"></i></a></li>
                                    <li><a href="#">National<i class="fas fa-angle-down"></i></a></li>
                                    <li><a href="#">International<i class="fas fa-angle-down"></i></a></li>
                                    <li><a href="#">Continent<i class="fas fa-angle-down"></i></a></li>
                                        <button id="loginBtn">
                                            <a>Log In</a>
                                    </div>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section id="searchBar">
            <div class="container1">
                <div class="searchHeader">
                    <h1>The World's Trusted Servey Authority</h1>
                </div>

                <div class="insideContainer">
                    <div class="searchHeader">
                        <h2>Categories</h2>
                    </div>
                    <div class="inputboxWrappe">
                        
                        <div class="inputBox1">
                            <h4>Select Categories</h4>
                            <div class="box-point">
                                <div class="form-group">
                                    <select data-live-search="true" class="form-control selectpicker fixed-box">
                                        <option>Select One</option>
                                        <option>Mango</option>
                                        <option>Orange</option>
                                        <option>Lychee</option>
                                        <option>Pineapple</option>
                                        <option>Apple</option>
                                        <option>Banana</option>
                                        <option>Grapes</option>
                                        <option>Water Melon</option>
                                    </select>
                                </div>
                            </div> 
                        </div>
                        <div class="inputBox1">
                            <h4>Select Countries</h4>
                            <div class="box-point">
                                <div class="form-group">
                                    <select data-live-search="true" class="form-control selectpicker">
                                        <option>Select One</option>
                                        <option>Mango</option>
                                        <option>Orange</option>
                                        <option>Lychee</option>
                                        <option>Pineapple</option>
                                        <option>Apple</option>
                                        <option>Banana</option>
                                        <option>Grapes</option>
                                        <option>Water Melon</option>
                                    </select>
                                </div>
                            </div> 
                        </div>

                        <div class="search">
                            <button id="searchBtn">
                                <i class="fas fa-arrow-circle-right searchBtnDesign"></i>
                            </button>
                        </div>
                        
                    </div>
                </div>
        </section>

        <section id="beforeResource">
            <div class="tabButtonHeading">
                <h1>
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                    Bangladesh
                </h1>
            </div>
            <div class="tabButton">
                <h3>I live in peaceful country.</h3>
            </div>
        </section>
          
    </body>

</html>
