<html>
    <head>
        
        <title><%=(locals.title) ? title :''%></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/a9db96059e.js" crossorigin="anonymous"></script>
        <link href="/../css/index.css" rel="stylesheet">
    </head>
    <body>
        <header id="topBar">

            <div class="primaryMenu">
                <div class="container">
                    <div class="primaryWrapper">
                        <div class="logo">
                            <h1>Population</h1>
                        </div>
                        <div class="menuWrapper">
                            <div class="menu">
                                <ul class="mainMenuItem">
                                    <li><a href="#">Home<i class="fas fa-angle-down"></i></a></li>
                                    <li><a href="#">National<i class="fas fa-angle-down"></i></a></li>
                                    <li><a href="#">International<i class="fas fa-angle-down"></i></a></li>
                                    <li><a href="#">Continent<i class="fas fa-angle-down"></i></a></li>
                                        <button id="loginBtn">
                                            <a>Log In</a>
                                    </div>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section id="searchBar">
            <div class="container1">
                <div class="searchHeader">
                    <h1>The World's Trusted Currency Authority</h1>
                </div>

                <div class="insideContainer">
                    <div class="searchHeader">
                        <h2>XE Currency Converter</h2>
                    </div>
                    <div class="inputboxWrapper">
                        <div class="inputBox1">

                        </div>
                        <div class="inputBox2">

                        </div>
                        <div class="inputBox3">

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>

</html>
